<div class="box-panel card">
  <h4 class="tit">Alertas</h4>
  <span class="update-info">Últimos 5</span>
  <ul class="list-itens list-alert">
    <li class="line row">
      <div class="col-sm-6">23 Notas Canceladas</div>
      <div class="col-sm-6"></div>
    </li>
    <li class="line row">
      <div class="col-sm-6">13 Notas Canceladas</div>
      <div class="col-sm-6">
        <select class="form-control col-sm-8 formSelect" id="formSelect">
          <option>Todos</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </li>
    <li class="line row">
      <div class="col-sm-6">13 Notas Canceladas</div>
      <div class="col-sm-6">
        <select class="form-control col-sm-8 formSelect" id="formSelect">
          <option>Todos</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </li>
  </ul>
</div>
