.box-panel {
  background-color: #fff;
  padding: 1rem;
  min-height: 400px;
  margin-top: 1rem;
  box-shadow: 1px 0px 12px 4px #a5a0a0;
  border-radius: 1px;
  .tit {
    border-bottom: 1px solid #dee2e6;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem 2rem 2rem;
    color: #636363;
    font-weight: normal;
    margin-bottom: 1.6rem;
  }
  .sub-tit {
    font-size: 1rem;
  }
  .list-itens {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: normal;
    align-items: baseline;
    flex-flow: wrap;
    .list-item {
      max-width: 176px;
      height: 33px;
      list-style: none;
      border: solid 1px #61a3d4;
      float: left;
      text-align: center;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      font-size: .9rem;
      margin-right: .5rem;
    }
  }
  .update-info {
    position: absolute;
    top: 2.4rem;
    right: 1rem;
    font-size: .8rem;
  }
  .list-alert {
    display: inline-block;
    .line {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #dee2e6;
      padding: 1rem;
      margin: 0;
      .form-control {
        float: right;
        font-size: .8rem;
      }
    }
  }
}

.form-control {
  background-color: transparent;
  border-radius: 0;
  border-color: #83b4d7;
}
